<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="stylesheet" href="{% static 'register/css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">SVGMS IP PROJECT DETAILS MANAGER</h2>
        {% block content %} 
            
        {% endblock content %}
    </div>

    <script src="{% static 'register/js/jquery.js' %}"></script>
    <script src="{% static 'register/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'register/js/popper.js' %}"></script>
</body>

</html>
